$container-padding: 20px;
$container-width: (1140 + $container-padding * 2);

$rfs-breakpoint: ($container-width - $container-padding * 2);
$rfs-rem-value: 16;

// COLORS
$primary-text-color: #576D81;
$primary-color: #0F2336;
$color-blue: #00cccc;
$color-orange: #F3AF47;
$color-grey: #F4F5F6;