@import 'vars';
@import 'mixins';
// MIXINS: 
// 1.[Responsive font size] @include font-size(Npx); margin-bottom(Npx); ... etc
// 2. 

@import 'normalize';

*, *::before, *::after {
  box-sizing: border-box;
}

//&font-display=swap&subset=cyrillic-ext
@import 'fonts';
@import 'global';
@import 'media';

// =====================================
// HEADER
.header {
  padding-top: 30px;
  background-color: #F5F6F7;

  &__inner {
    padding-bottom: 185px;
    height: 100%;
    position: relative;
    z-index: 5;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }


  &__nav {
    &-list {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 69px;
      }

      &:nth-child(2n) {
        margin-right: 43px;
      }
    }

    &-link {
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      color: $primary-color;
      transition: .2s;

      &:hover {
        color: $color-blue;
      }
    }
  }

  &__content {
    margin-top: 120px;

    &-inner {
      max-width: 570px;
      line-height: 75px;
    }

    &-image {
      max-width: 793px;
      max-height: 545px;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 10;
    }

    &-title {
      font-weight: 700;
      position: relative;
      z-index: 15;
    }

    &-button {
      margin-top: 50px;
      box-shadow: 0 3px 18px 0 #00C9C9;
      padding-right: 39px;
      position: relative;
      z-index: 15;
    }

  }
}

// =====================================
// ADVANTAGES
.advantages {
  padding: 100px 0 182px;

  &__wrapper {
    display: flex;
  }

  &__item {
    flex: 1;
  }

  &__content-wrapper {
    width: 300px;
  }

  &__title {
    margin-top: 29px;
  }

  &__text {
    margin-top: 12px;
    line-height: 24px;
  }
}

// =====================================
// HOW IT WORK
.how-it-work {
  &__title {
    width: 200px;
  }
}

// =====================================
// DISCOUNTS
.discounts {
  background-color: $color-grey;
  margin-top: 220px;
  margin-bottom: 180px;
  height: 527px;

  &__inner {
    height: 100%;
    display: flex;
    position: relative;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__content {
    &-item {
      width: 455px;
      padding: 25px 30px 40px 25px;
      background-color: #fff;
      box-shadow: 0 8px 32px rgba(15, 35, 54, 0.06);
      display: flex;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:first-child {
        margin-top: -30px;
      }

      &-title {
        margin-top: 14px;
      }

      &-text {
        line-height: 24px;
        margin-top: 25px;
        margin-bottom: 0;
      }

      &--margin {
        margin-left: 40px;
      }
    }

    &-inner {
      padding-left: 33px;
    }

    &-icon-wrapper {
      position: relative;
      height: 55px;
      width: 85px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
        background-color: #F6F7F8;
        z-index: 5;
      }
    }

    &-icon {
      position: relative;
      z-index: 10;
    }
  }
}

// =====================================
// SEND GIFTS
.send-gifts {
  &__promo-title {
    width: 300px;
  }
}


// =====================================
// FEEDBACK
.feedback {
  margin-top: 150px;
  margin-bottom: 110px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 127px;
    height: 83px;
  }

  &__title {
    margin-top: 23px;
    margin-bottom: 20px;
    width: 519px;
    text-align: center;
  }

  &__form {
    display: flex;

    &-input {
      width: 400px;
      text-align: center;
      padding: 17px 0;
      border-radius: 6px;
      background-color: $color-grey;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 18px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
      }
    }

    &-button {
      margin-left: 20px;
      padding: 16px 35px;
    }
  }

  &__download {
    &-wrapper {
      width: 560px;
      display: flex;
      margin-top: 20px;
    }

    &-item {
      padding: 16px 32px;
      background-color: #240C39;
      transition: .2s;

      &:nth-child(1) {
        margin-right: 25px;
      }

      &:hover {
        background-color: #35135b;
      }
    }
  }
}

// =====================================
// FOOTER
.footer {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: $primary-color;
  position: relative;
  height: 300px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    background-image: url("../../images/footer/left-image.svg");
    background-repeat: no-repeat;
    width: 230px;
    height: 310px;
    position: absolute;
    bottom: 12px;
    left: 0;
  }

  &:after {
    content: '';
    display: block;
    background-image: url("../../images/footer/right-image.svg");
    background-repeat: no-repeat;
    width: 155px;
    height: 310px;
    position: absolute;
    top: 44px;
    bottom: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;

    &-title {
      color: $color-blue;
      font-size: 12px;
    }

    &-list {
      list-style: none;
      padding: 0;

      &-item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    &-link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      line-height: 20px;
      transition: .2s;

      &:hover {
        color: rgba(255, 255, 255, 1)
      }
    }

    &-item {
      &:not(:last-child) {
        margin-right: 80px;
      }
    }
  }
}